/* custom properties */
:root {
    /* color theme */
    /* text colors */
    --text-light: #ffffff;

    /* background colors */
    --base-hue: 245;
    --base-sat: 35%;
    --base-lght: 17%;

    /* any number to modify colors */
    --your-number: 1.05;

    --color1: hsl(
        var(--base-hue),
        calc(var(--base-sat) * (calc(var(--your-number) * 1))),
        calc(var(--base-lght) * (calc(var(--your-number) * 1)))
    );

    --color2: hsl(
        var(--base-hue),
        calc(var(--base-sat) * (calc(var(--your-number) * 1.5))),
        calc(var(--base-lght) * (calc(var(--your-number) * 1.5)))
    );
    
    --color3: hsl(
        var(--base-hue),
        calc(var(--base-sat) * (calc(var(--your-number) * 2))),
        calc(var(--base-lght) * (calc(var(--your-number) * 2)))
    );

    --color4: hsl(
        var(--base-hue),
        calc(var(--base-sat) * (calc(var(--your-number) * 2.5))),
        calc(var(--base-lght) * (calc(var(--your-number) * 2.5)))
    );

    --color5: hsl(
        var(--base-hue),
        calc(var(--base-sat) * (calc(var(--your-number) * 3))),
        calc(var(--base-lght) * (calc(var(--your-number) * 3)))
    );
}

/* body */

.body {
    color: var(--text-light, #ffffff);
}

/* backgrounds */

.slide--color1 {
    background-color: var(--color1, hsl(240, 20%, 20%));
}

.slide--color2 {
    background-color: var(--color2, hsl(240, 20%, 20%));
}

.slide--color3 {
    background-color: var(--color3, hsl(240, 20%, 20%));
}

.slide--color4 {
    background-color: var(--color4, hsl(240, 20%, 20%));
}

.slide--color5 {
    background-color: var(--color5, hsl(240, 20%, 20%));
}

/* link */

.slide__button {
    color: var(--text-light, #ffffff);
    
}

.slide__button--prev {
    color: rgb(17, 240, 229);
    padding-top: 4px;
    Padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

.slide__button--next {
    color: rgb(17, 240, 229);
    padding-top: 4px;
    Padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

