/* ANIMATION */





  .slide--color1{
    animation: transitionIn 1.5s;
}


.slide__titleAnimation {
    animation: bouncing 2s;
    animation-delay: 0s;
}


.p__animation--1{
 animation: bounceIn 3s;
 animation-delay: 0s;
  
}
.p__animation--2{
animation: bounceIn 3s;
animation-delay: .25s;

}

.button--in{
    animation: around 3s;
    animation-delay: .25s;
    
    }