symbol {
    fill:  rgb(14, 241, 223);
}

.icon--color{
    background-color:none;
    padding-left: 3%;
    margin-left:8%;
    margin-top: 2rem;
}

span {
    background-color: none;
    width: 5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }